<script src="//www.google.com/jsapi"></script>

<% playerData = [["Player", "Elo"]] %>
<% players.each {|x| playerData << [x.name, x.elo] } %>
<script type="text/javascript"> var jsData = <%= playerData %> </script>
<script type="text/javascript" src = "/js/histogram.js"> </script>
<div id="chart_div"></div>

<div class = "row" >
	<% data = [["Player", "Elo"]] %>
	<% players.each do |player| %>
		<% next if player == nil %>
		<div class = "player">
			<div class = "col-md-2">
				<span class = "name">
					<a href= "/<%=bracketTitle%>/player=<%=player.name%>"><%= player.name %>:</a>
				</span>
			</div>
			<div class = "col-md-2">
				<span class="eloEvent"> <%= player.elo %> </span>
			</div>
		</div>

	<% end %>
</div>
</br>
<div class = "row">
	<div class = "bracketDetails"> Data gathered from: </span>
		<ul>
			<% brackets.each do |bracket| %>
				<li> <span class = "tournamentName"> <%= bracket%> </span> </li>
			<% end %>
		</ul>
	</div>
</div>