<script src="//www.google.com/jsapi"></script>
<script src="/chartkick.js"></script>

<div id="player">
	<div class="name"> <%= player.name %>: </div>
	<div class="elo"> <span class ="eloTitle"> Elo: </span> <%= player.elo %> </div>
	<div class="sets"> <span class ="setTitle">Sets played: </span>  <%= player.sets %> </div>

	<% player.eventResults.each_key do |key| %>
		<div class="event"> <span class="eventTitle"> <%= key %>: </span>
			<div class="wonAgainst"> <%= player.eventResults[key][:wins].map{|x| x.name}.sort %> </div>
			<div class="lostAgainst"> <%= player.eventResults[key][:losses].map{|x| x.name}.sort %> </div>
		</div>
	<% end %>
	<% data = player.eloChanges.each_with_index.map{|x, i| [i, x]} %>
	<%= line_chart data, {
		min: 1000,
	 	max: (player.elo+100),
	 	discrete: true, 
 		library: {
 			#chartArea: {width: 400, length: 600},
		 	hAxis: {title: "Games Played", showTextEvery: player.sets/4}, 
			vAxis: {title: "Elo"}
	 	}
 	} %>
</div>